XML/cartelera.dtd

<?xml version='1.0' encoding='UTF-8'?>

<!--
    TODO define vocabulary identification
    PUBLIC ID: -//vendor//vocabulary//EN
    SYSTEM ID: http://server/path/cartelera.dtd

-->

<!--
    An example how to use this DTD from your XML document:

    <?xml version="1.0"?>

    <!DOCTYPE carteleracine SYSTEM "cartelera.dtd">

    <carteleracine>
    ...
    </carteleracine>
-->

<!--- Put your DTDDoc comment here. -->
<!ELEMENT carteleracine (pelicula)*>

<!--- Put your DTDDoc comment here. -->
<!ELEMENT pelicula (titulo|director|anio|clasificacion|genero|duracion)*>
<!ATTLIST pelicula
    id CDATA #IMPLIED
  >

<!--- Put your DTDDoc comment here. -->
<!ELEMENT titulo (#PCDATA)>

<!--- Put your DTDDoc comment here. -->
<!ELEMENT director (#PCDATA)>

<!--- Put your DTDDoc comment here. -->
<!ELEMENT anio (#PCDATA)>

<!--- Put your DTDDoc comment here. -->
<!ELEMENT clasificacion (#PCDATA)>

<!--- Put your DTDDoc comment here. -->
<!ELEMENT genero (#PCDATA)>

<!--- Put your DTDDoc comment here. -->
<!ELEMENT duracion (#PCDATA)>
